@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/******ICONS******/

.icon {
  font-size: 175%;
  color: #4682b4;
}

/******BUTTONS******/

.button-blue {
  background: #4682b4;
  color: #ebebeb;
  border-radius: 3px;
  letter-spacing: 2px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.button-blue:hover {
  color: #b6d4e7;
  transition: 0.3s;
  text-decoration: none;
}

/******COLORS******/

.light-blue {
  background-color: #b6d4e7;
}

.light-grey {
  background-color: #ebebeb;
}

/******NAVIGATION******/

.navbar {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

/******HOME******/

.home-container {
  height: 100vh;
  background: url(../images/mountain-background.jpg) no-repeat bottom right
    fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.home-header {
  font-size: 500%;
  color: #ebebeb;
  margin: 0;
}

.hero-role {
  color: #b0b0b0;
  margin-top: 1rem;
  font-size: 200%;
}

/******ABOUT******/

.photo {
  padding-top: 3rem;
}

/******CONTACT ME******/

.contact-details {
  font-size: 18px;
}

.contact-details i,
.contact-details p {
  padding: 1rem;
}

/* CREDIT FOR CONTACT FORM CSS - Web dev YouTube Channel - Responsive Contact Form with Floating Label Animation Using Html, CSS and Bootstrap 
https://www.youtube.com/watch?v=s6rF1Josk9M&ab_channel=Webdev */

.contact-form {
  background: #ebebeb;
  padding: 1rem;
}

.contact-form .form-field {
  position: relative;
  margin: 16px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 32px;
  border-width: 0 0 2px 0;
  border-color: #4682b4;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background: #ebebeb;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text:valid + .label {
  transform: translateY(-20px);
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  background: #4682b4;
  color: #ebebeb;
  letter-spacing: 2px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

/******FOOTER******/

.social,
.copy {
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 150%;
  padding: 1.25rem;
  color: #b6d4e7;
}

.social i:hover {
  transition: 0.3s;
  color: #4682b4;
}

.copy p {
  margin: 0;
  color: #ebebeb;
  padding-bottom: 1rem;
}

.divider {
  background-color: #4682b4;
  width: 125px;
  height: 2px;
}

/******MEDIA QUERIES******/

@media (max-width: 500px) {
  .home-header {
    font-size: 350%;
    text-align: center;
  }

  .hero-role {
    font-size: 150%;
  }
}

@media (max-width: 767px) {
  .photo {
    padding: 0 0 2rem;
  }
}
